* {
    font-family: 'Lato', sans-serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.hero-background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    background-color: hsl(217, 71%, 53%);
}

.hero-zora {
    position: relative;
}

.zora-photo {
    z-index: 1;
    position: absolute;
    top: 16%;
    pointer-events: none;
    right: 12%;
    width: 400px;
    margin-left: -10px;
}

.card {
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.peoplecard img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.anchor {
    margin-top: -70px;
    padding-top: 70px;
}

#people::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 800px;
    background: hsl(217, 71%, 53%);
    transform: skewY(3deg);
    z-index: -1;
    margin-top: -15px;
}

.slider-navigation-next {
    padding-left: 5px;
}

.slider-navigation-next,
.slider-navigation-previous,
.slider-page {
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: #fff;
}

#people-list h3 {
    line-height: 20px;
}

#news-list .column {
    margin-top: 30px;
}

#news-list .column:hover {
    background-color: hsl(0, 0%, 96%);
}

#project-list .thumb-logo {
    width: 250px;
    height: auto;
    margin: auto;
}

#project-list .tag {
    white-space: normal;
    min-height: 2em;
    height: auto;
}

#project-modal .thumb-logo {
    width: 50%;
    height: auto;
    margin: auto;
    padding-top: 50px;
}

#project-modal .subtitle {
    line-height: 35px;
}

#project-list .thumb-img,
#project-modal .thumb-img {
    object-fit: cover;
}

#collaboration .anchor {
    margin-bottom: 15px;
}

#collaboration img {
    height: 120px;
    max-width: none;
}

.is-display-none {
    display: none !important;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    text-decoration: none;

    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;

    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top .fa-caret-up {
    color: #fff;
    margin: 0;
    position: relative;
    left: 19px;
    top: 13px;
    font-size: 22px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top.is-visible {
    display: block !important;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

@media only screen and (max-width: 882px) {
    .zora-photo {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    #people::before {
        height: 1750px;
    }
}